[Desktop Entry]
Encoding=UTF-8
Name=Link to Inline image 1
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=9cc9f27b4b&view=att&th=144fa501f0dc752a&attid=0.1&disp=emb&realattid=ii_144fa4fff809b076&zw&atsh=1
Icon=text-html
